__pycache__/*
lib/__pycache__/*
lib/__pycache__/
__pycache__/
*.log
*.db
*.sql
weatherkiosk/instance/config.py
weatherkiosk/weather.db
getpastdb.py
*.geany
env
temp.txt
.idea/
idea/*
.vscode
weather.json
forecast.json
*.swp
weatherkiosk/*.swp

